.button {
  text-decoration: none;
  color: white;
  background: cyan;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.glow-button:hover {
  color: white;
  box-shadow: 0 5px 15px cyan;
}